# String functions in python

In [1]:
name="Tesla"

In [2]:
name

'Tesla'

In [3]:
#we can write this in small latters by lower function
name.lower()

'tesla'

In [4]:
# we can write in capital latter by Upper function
name.upper()

'TESLA'

In [5]:
# we can count latter by len function
len(name)

5

In [6]:
# here we can 1st later in capital by capitalize function
name.capitalize()

'Tesla'

In [7]:
word="PlAnets"
word

'PlAnets'

In [8]:
#here some words are in small & few are capital so we can change it in small
#whos are capital or whos are capital we can change in smal by swapcase function
word.swapcase()

'pLaNETS'

In [17]:
# we can covert all data into cot " " or can conver into list By split Function
b="twitter can we use"

In [18]:
b.split() # like this

['twitter', 'can', 'we', 'use']

In [20]:
# we can conver whole sentence 1st later in capital by title function
b.title()

'Twitter Can We Use'

# check function with string data

In [9]:
# we can check here alphabet is present here or not by isalpha function
name.isalpha()

True

In [10]:
a="67854"

In [11]:
a.isdigit()

True

In [28]:
c="ABC123"

In [29]:
#we can check if we have alphabets or numeric data with together we can check by isalnum function
c.isalnum()

True

In [14]:
name.islower()

False

In [16]:
name.isupper()

False

In [21]:
# we have start or end function also to search any data or word
starship = "Enterprise"

In [22]:
starship.startswith("en")

False

In [26]:
starship.endswith("rise")

True

# replace

In [27]:
#str.replace(old, new)
string="Welcome sir"

In [33]:
print(string)

Welcome sir

In [34]:
string1=string.replace("Welcome","Good Morning")
# we can change like this

In [35]:
print(string1)

Good Morning sir

In [36]:
print(string.replace("Welcome","GoodBye"))

GoodBye sir

In [37]:
txt = "I like bananas"

In [38]:
x=txt.replace("bananas",'apples')
print(x)

I like apples

In [39]:
phrase = "the surprise is in here somewhere"

In [40]:
# we can find the location by the find function
phrase.find("surprise")

4

In [41]:
# split function work work at space 
text = "Hello World DataTrained"

In [42]:
print(text.split())

['Hello', 'World', 'DataTrained']

In [43]:
text1 = "Hello,World, DataTrained"

In [44]:
# splits at ','

print(text1.split(", "))

['Hello,World', 'DataTrained']

In [46]:
text2 = "Hello,World:, DataTrained"

# Splits at ':'

In [47]:
print(text2.split(":"))

['Hello,World', ', DataTrained']

In [54]:
#Task:

#1

#Q Write a program that converts the following strings to lowercase:

d="Animals", "Badger", "Honey Bee", "Honey Badger"
#Print each lowercase string on a separate line.

In [55]:
d

('Animals', 'Badger', 'Honey Bee', 'Honey Badger')

In [60]:
st="Animals"
st.lower()

'animals'

In [61]:
st1="Badger"
st1.lower()

'badger'

In [62]:
st3="Honey Bee"
st3.lower()

'honey bee'

In [63]:
st4='Honey Badger'
st4.lower()

'honey badger'

#2

#Write a program that prints out the result of .startswith("be") on

#each of the following strings:

In [81]:
string1 = "Becomes"

string2 = "becomes"

string3 = "BEAR"

string4 = " bEautiful"

print("string1 =",string1.startswith("be"))
print("string2 =",string2.startswith("be"))
print("string3 =",string3.startswith("be"))
print("string4 =",string4.startswith("be"))

string1 = False
string2 = True
string3 = False
string4 = False

In [66]:
e=print(string1,string2,string3,string4)

Becomes becomes BEAR  bEautiful

In [77]:
print("string1 =",string1.startswith("be"))

string1 = False

In [78]:
print("string2 =",string2.startswith("be"))

string2 = True

In [79]:
print("string3 =",string3.startswith("be"))

string3 = False

In [80]:
print("string4 =",string4.startswith("be"))

string4 = False

3

Using the same four strings from above, write a program that

uses string methods to alter each string so that .startswith("be")

returns True for all of them

In [84]:
string1 = "Becomes"

string2 = "becomes"

string3 = "BEAR"

string4 = "bEautiful"

print("string1 =",string1.startswith("Be"))
print("string2 =",string2.startswith("be"))
print("string3 =",string3.startswith("BE"))
print("string4 =",string4.startswith("bEau"))

string1 = True
string2 = True
string3 = True
string4 = True

4 .Write a program that takes input from the user and displays that

input back.

In [88]:
string1 = (input("enter str1 "))

string2 = (input("enter str2 "))

string3 = (input("enter str3 "))

string4 = (input("enter str4 "))

print("string1 =",string1.startswith("Ba"))
print("string2 =",string2.startswith("Me"))
print("string3 =",string3.startswith("Ap"))
print("string4 =",string4.startswith("Gu"))

enter str1 Banana
enter str2 Mango
enter str3 Apple
enter str4 Guava
string1 = True
string2 = False
string3 = True
string4 = True

5

 Write a program that takes input from the user and displays the

input in lowercase.

In [89]:
string1 = (input("enter str1 "))

string2 = (input("enter str2 "))

string3 = (input("enter str3 "))

string4 = (input("enter str4 "))

print("string1 =",string1.lower())
print("string2 =",string2.lower())
print("string3 =",string3.lower())
print("string4 =",string4.lower())

enter str1 Banana
enter str2 Mango
enter str3 Aplle
enter str4 GUAVA
string1 = banana
string2 = mango
string3 = aplle
string4 = guava

6 Write a program that takes input from the user and displays the

number of characters/len in the input.

In [98]:
string1 = (input("enter str1 "))

string2 = (input("enter str2 "))

string3 = (input("enter str3 "))

string4 = (input("enter str4 "))

print("string1 =",len(string1))
print("string2 =",len(string2))
print("string3 =",len(string3))
print("string4 =",len(string4))

enter str1 Bananas
enter str2 Orange
enter str3 Pineapple
enter str4 Poemegranet
string1 = 7
string2 = 6
string3 = 9
string4 = 11

In [96]:
len(string1)

6