# practice assignment and repository

In [1]:
8+4

12

In [2]:
16*5

80

In [3]:
50-5*6

20

In [4]:
(50-5*6)/4

5.0

In [ ]:
# comments
#this is my 1st program

In [5]:
print("Hello")

Hello

In [6]:
greeting="Hello words of python"

In [7]:
print(greeting)

Hello words of python

In [8]:
8 / 5
# division always returns a floating point number

1.6

In [9]:
17 / 3 
# classic division returns a float

5.666666666666667

In [10]:
17 // 3
# floor division discards the fractional part

5

In [11]:
17 % 3
# the % operator returns the remainder of the division

2

In [12]:
5 * 3 + 2 
# result * divisor + remainder

17

In [13]:
 5 ** 2 
# 5 squared

25

In [14]:
2 ** 7 
# 2 to the power of 7

128

In [15]:
width = 20

In [16]:
height = 5 * 9

In [17]:
width * height

900

In [18]:
print(width)

20

In [19]:
print(height)

45

In [21]:
print('The value of width=',width) 
# use single quote

The value of width= 20

In [22]:
print("The value of width is=", width) 
# use double quote

The value of width is= 20

In [23]:
print("Value=",width*height)

Value= 900

# task

In [24]:
tax = 12.5 / 100

In [30]:
tax

0.125

In [31]:
price = 100.50

In [32]:
price

100.5

In [26]:
price * tax

12.5625

In [28]:
hight= price * tax

In [29]:
hight

12.5625

# String concatenation

In [33]:
"The "+"Sun"

'The Sun'

In [34]:
"The "+"Moon"

'The Moon'

In [35]:
"Planets"+" Universe"

'Planets Universe'

In [36]:
string1 = "Elon"

In [37]:
string1

'Elon'

In [38]:
string2 = "Musk"

In [39]:
string2

'Musk'

In [40]:
magic_string = string1 + string2

In [41]:
magic_string

'ElonMusk'

In [42]:
first_name = "Arthur"

In [43]:
last_name = "Dent"

In [44]:
full_name = first_name + " " + last_name

In [45]:
full_name

'Arthur Dent'

In [46]:
w1="Rushda"

In [47]:
w2="shabbir"

In [48]:
fname=w1+w2

In [49]:
fname

'Rushdashabbir'

In [51]:
fname=w1+" "+w2

In [52]:
fname

'Rushda shabbir'

# User Input

In [53]:
prompt = "Hey, what's up? "

In [55]:
user_input = input(prompt)

Hey, what's up? nothing

In [56]:
print("You said: " + user_input)

You said: nothing

In [61]:
num = int(input("Enter a number to be doubled: "))

Enter a number to be doubled: 2

In [62]:
doubled_num = num * 2

In [63]:
doubled_num

4

In [64]:
print(doubled_num)

4

In [65]:
#Task: Take user input and make twice of that number and typecast it to float.
num = input("Enter a number to be doubled: ")

Enter a number to be doubled: 5

In [66]:
doubled_num = float(num) * 2

In [67]:
print(doubled_num)

10.0

In [69]:
a=float(input("enter a"))
b=float(input("enter b"))

enter a2
enter b4

In [70]:
multiplies=a*b

In [71]:
print(multiplies)

8.0

In [72]:
#Calculate simple interest by taking user input for priciple,rate and time
p=int(input("enter the principle"))
r=int(input("enter the rate"))
t=int(input("enter the tax"))

enter the principle20
enter the rate10
enter the tax5

In [73]:
simple_interest=(p*r*t)/100

In [74]:
print(simple_interest)

10.0

# Find length

In [75]:
len("abc")

3

In [76]:
letters = "abc"

In [77]:
len(letters)

3

In [78]:
#Create a string and print its length using len(). it will consider gap also
str="the man is very greatful"

In [79]:
len(str)

24

# Try Yourself

# What is a Jupyter notebook?

The Jupyter Notebook is an open source web application that you can use to create and share
documents that contain live code, equations, visualizations, and text.


# How do you add a new code cell below an existing cell?
we can take below cell by + symbol and by the insert arrow from the main menu and set from the code options

# How do you add a new Markdown cell below an existing cell?

we can take below cell by + symbol and by the insert arrow from the main menu and set from the code cell options choose there markdown

# How do you convert a code cell to a Markdown cell or vice versa?

wec can conver a select code cell by go main menu code box select markdown.

# How do you execute a code cell within Jupyter?

we can execute by Alt+enter and by the mainmenu run option

# Here are the different types of arithmetic operators in Python?

Addition (+)
Subtraction (-)
Multiplication (*)
Division (/)
Modulus (%)
Exponentiation (**)
Floor Division (//)

# How do you perform arithmetic operations using Python?

Basic operations: 
"+" is used for addition, 
"-" for subtraction,
"*" for multiplication,
"/" for division,
"%" for remainder.
(//) Floor Division its remove decimal value
"^" is NOT used for exponents, it is a bitwise operator (NOTE: you don't need to know this). For exponents, use "**".

# What is the difference between the / and the // operators?

devision(/) always give the result in float data type 
but floor devision(//) remove the decimal from the result or in division

# What is the difference between the * and the ** operators?

(*) SINGLE ASTRIC use for the multiplication 
(**)DOUBLE ASTRIC used for the squared

# What is the order of precedence for arithmetic operators in Python?

Arithmetic Operators: From highest to lowest precedence, these are ** (exponential), * (multiplication), / (division), + (addition), - (subtraction). Comparison Operators: These include == (equal), !=(not equal),> (greter than),< (less than).

# How do you specify the order in which arithmetic operations are performed in an expression involving multiple operators?

Python will always evaluate the arithmetic operators first (** is highest, then multiplication/division, then addition/subtraction). Next comes the relational operators. Finally, the logical operators are done last.

# What are variables? Why are they useful?

variable is ussed for assigning the value

# how do you creat the variable in python?

To create a new variable in Python, you simply use the assignment operator ( = , a single equals sign) and assign the desired value to it.

# what is the assignment operator in python?

Assignment operator in Python is used to assign values to variables, and it comes in different types. The simple assignment operator (=) assigns a value to a variable.

# What are the rules for naming a variable in Python?

Rules for Python variables:
A variable name must start with a letter or the underscore character.
A variable name cannot start with a number.
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

# How do you view the value of a variable?

Steps:
* Initialize a variable test_var with a string value.
* Print the original variable using the print() function.
* Use the vars() function to access the variable value from code scope and assign it to a new variable res.
* Print the result.
like if we created variable a assign = value 3
a=3
then for view the value we will give command only with variable like a run value will be printed

# What happens if you try to access a variable that has not been defined?

An attempt to read the value of such an undeclared variable causes a runtime error. Undeclared variables are undefined because they simply do not exist.

# How do you display messages in Python?

we can use the print statement. For example: print("Hello, my what a lovely day it is!") The print statement can contain any collection of letters or numbers as long as they are wrapped within the speech.

# What type of inputs can the print function accept?

The python print function takes one or more objects as input and displays them on the screen. The objects can be strings, numbers, variables, or even expressions.

# What are code comments? How are they useful?

Code comments are intended to make the related code easier to understand by providing additional context or explanation. Code comments can be: used to document the design and functionality of a program and to provide instructions for how to use or modify a piece of code.

# What are the different ways of creating comments in Python code?

Comments in Python are identified with a hash symbol, #, and extend to the end of the line. Hash characters in a string are not considered comments, however. There are three ways to write a comment 
- as a separate line,
beside the corresponding statement of code,
or as a multi-line comment block

# What are the different comparison operations supported in Python?

The six comparison operators are in python
1) == or equal to,
2) != or not equal to, 
3) > or greater than, 
4) >= or greater than or equal to, 
5) < or less than, and 
6) <= or less than or equal to. 
They can be used to compare different values in Python, such as integers or strings.

# What is the result of a comparison operation?

=>the result of comparision operator give boolean values print in true and false
=>Comparison operators in Python, also called relational operators, are used to compare two operands. They return a Boolean True or False depending on whether the comparison condition is true or false.

# What is the difference between = and == in Python?

The = is a simple assignment operator. It assigns values from right side operands to the left side operand. 
While on the other hand == checks if the values of two operands are equal or not. If yes, the condition becomes true and it returns a non zero value.

# What are the logical operators supported in Python?

Python has three Boolean operators, or logical operators: and , or , and not .

# What is the difference between the and and or operators?

The *AND operator indicates that both operands (on either side of the operator) have to be true to produce a true result. The *OR operator indicates that one or the other of its operands must be true to produce a true result.

#Can you use comparison and logical operators in the same expression?

# What is the purpose of using parentheses in arithmetic or logical expressions?

Parentheses can be used to override the order of precedence and force some parts of an expression to be evaluated before others. Operations within parentheses are always performed before those outside. Within parentheses, however, operator precedence is maintained. like () and {} or [].

# what is markdown? why it is usefull?

Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML).”

# EXERCISE:

A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [84]:
#Solution:

plane_cost =5000

total_people_signed_up=29

ticket_cost=200
# amount_received_by_company=total_people_signed_up*ticket_cost
# total_profit=amount_received_by_company-plane_cost
# total_profit

In [85]:
amount_received_by_company=total_people_signed_up*ticket_cost

In [87]:
amount_received_by_company

5800

In [88]:
total_profit=amount_received_by_company-plane_cost

In [89]:
total_profit

800