# Practice Assignment 5

In [1]:
def square(x):
   return x*x
print(square(4))

16

In [2]:
def square(x):
    return x*x
x=4
print(square(x))

16

In [3]:
def add_numbers(x,y):
   sum = x + y
   return sum
num1 = 5
num2 = 6
print("The sum is", add_numbers(num1, num2))

The sum is 11

In [4]:
def add_numbers(x,y):
    sum=x+y
    return sum
num1=4
num2=8
print("the sum is",add_numbers(num1,num2))

the sum is 12

In [5]:
def greet(name, msg):
    """This function greets to
    the person with the provided message"""
    print("Hello", name + ', ' + msg)
greet("Andrew", "Good morning!") # call function this

Hello Andrew, Good morning!

In [6]:
greet("Andrew","good Morning")

Hello Andrew, good Morning

# Task:
Write a program to create a function that takes two arguments, name and age, and print their value.

In [7]:
def Create_func(name, age):
    nam = "Rushda"
    Age = 23
    print("values", name, age)

Create_func("Rushda", 23)

values Rushda 23

In [8]:
def Creat_func(name,age):
    nam="rushda"
    ages= 23
    print("detail:",name,age)
Creat_func("rushda",23)

detail: rushda 23

In [9]:
def Create_func(name, age):
    print("values", name, age)
    nam = "Rushda"
    Age = 23

Create_func("Rushda",23)

values Rushda 23

In [10]:
def Create_func(name="Rushda", age=23):
    print("values", name, age)

nam = "SomeName"
Age = 30
Create_func(nam, Age)

values SomeName 30

In [11]:
#Task : Write a function absolute_value to find absolute of a given number.
#Soln.
def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""
    if num >= 0:
        return num
    else:
        return -num
print(absolute_value(2))
print(absolute_value(-4))

2
4

In [12]:
def give_val(num):
    print("values",num)
    if num>=2:
        return num
    else:
        return -num

print(give_val(0.1))

values 0.1
-0.1

In [13]:
def give_val(num):
    if num>=0:
        return num
    else:
        return -num

print(give_val(4))

4

In [14]:
def give_val(num):
    if num>=0:
        return num
    else:
        return -num
print("values",give_val(2))

values 2

In [15]:
#Task : write a function multiply to calculate multiplication of two numbers by taking as a arguments.
#Soln.
def multiply(x,y):
    print("value of x=",x)
    print("value of y=",y)
    return x*y
print(multiply(2,4))

value of x= 2
value of y= 4
8

In [16]:
def multiply(x,y):
    print("val = x:",x)
    print("val = x:",y)
    return x*y
s=11
d=12
print(multiply(s,d))

val = x: 11
val = x: 12
132

In [17]:
#Task : write a function division to calculate division of two numbers by taking as a arguments.
# local variables and global variables
def my_func():
 x = 10
 print("Value inside function:",x)
x = 20
my_func()
print("Value outside function:",x)
squares = list(map(lambda x: x**2, range(10)))
squares = [x**2 for x in range(10)]

Value inside function: 10
Value outside function: 20

In [18]:
def my_func():
    x=20
    print("insided the function",x)
x=10
print("outside the function:",x)
my_func()

outside the function: 10
insided the function 20

In [19]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
squares = list(map(lambda x: x**2, range(10)))
squares = [x**2 for x in range(10)]
#both are gives same result

In [22]:
#Task : Write the above code to find cube of x.
sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map (lambda x: x*x, sequences)
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [23]:
sequences=[10,2,8,7,5,4,3,11,0,1]
result= [x*x for x in sequences]
print(result)

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [24]:
sequences = [10, 2, 8, 7, 5, 4, 3, 11, 0, 1]
result = [x * x if x >= 10 else None for x in sequences]
print(result)

[100, None, None, None, None, None, None, 121, None, None]

In [25]:
sequences=[10,2,8,7,5,4,3,11,0,1]
result= [x*x for x in sequences]
print(result)
for item in result:
    if item >=50:
        print(item)
    else:
        print("less")

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]
100
less
64
less
less
less
less
121
less
less

In [36]:
#Task : write the above code for the expression x**3
list3=[10,2,8,7,5,4,3,11,0, 1]
result=[x**3 for x in list3]
print(result)

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

In [27]:
list2= [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, list2)
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [37]:
list2= [10,2,8,7,5,4,3,11,0, 1]
filtered_result = [filter for x in list2 if x>4]
print(filtered_result)

[<class 'filter'>, <class 'filter'>, <class 'filter'>, <class 'filter'>, <class 'filter'>]

In [38]:
list2= [10,2,8,7,5,4,3,11,0, 1]
filtered_result = [x for x in list2 if x>4]
print(filtered_result)

[10, 8, 7, 5, 11]

In [29]:
#Task : write the above code for the expression x>5.
list2=[10, 2, 8, 7, 5, 4, 3, 11, 0, 1]
filtered_result = filter(lambda x: x > 5, list2)
print(list(filtered_result))

[10, 8, 7, 11]

In [30]:
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 1. Put the above 4 lines in as user defined function and call the function

In [31]:
def subtraction(n,m):
    print("value n:",n)
    print("value m:",m)
    c=n-m
    return c
    
a=10
b=5
print("c",subtraction(a,b))

value n: 10
value m: 5
c 5

# 2.Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [32]:
def product_func(num1,num2):
    product=num1*num2
    if product <=1000:
        return product
    else:
        return num1 + num2
v=20
y=60
result=(product_func(v,y))
print("sum:",result)

                            #OR
    
def product_func(num1,num2):
    product=num1*num2
    if product <=1000:
        return product
    else:
        return num1 + num2


result=(product_func(20,30))
print("Product:",result)

sum: 80
Product: 600

In [33]:
def product_func(num1,num2):
    product=num1*num2
    if product <=1000:
        print("product1:",product)
    else:
        return print("Add:",num1 + num2)


result=(product_func(20,30))
print("Product:",result)

product1: 600
Product: None

In [34]:
def product_func(num1,num2):
    product=num1*num2
    if product <=1000:
        print("product1:",product)
    else:
        return print("Add:",num1 + num2)


result=(product_func(20,60))
print("Final Product:",result)

Add: 80
Final Product: None

In [35]:

#Task: Check if the first and last number of a list is the same.
#Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.
#Solution:
def first_last_same(numberList):
    print("Given list:", numberList)
    first_num = numberList[0]
    last_num = numberList[-1]
    if first_num == last_num:
        return True
    else:
        return False
numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))
numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False